#------------------------
#        DATABASE
#------------------------
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=pattern-core
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres

JWT_SECRET_KEY=mysecretkey

#------------------------
#       LOGGING
#------------------------
APP_NAME=pattern-core
LOG_FILE_PATH=api_logs
LOG_BACKUP_COUNT=5
LOG_MAX_BYTES=5242880 # 5 * 1024 * 1024

#------------------------
#    SENTRY (Optional)
#------------------------
SENTRY_DNS=


#------------------------
#        LLM
#------------------------

# +-------------+------------------------------------------------+
# | Provider    | Recommended Model                              |
# +-------------+------------------------------------------------+
# | openai      | gpt-4o-mini                                    |
# | google      | gemini-2.0-flash                               |
# | together    | deepseek-ai/DeepSeek-R1-Distill-Llama-70B-free |
# | ollama      | llama3.3                                       |
# | groq        | llama-3.3-70b-versatile                        |
# | firework    | accounts/fireworks/models/firefunction-v2      |
# | huggingface | meta-llama/Llama-3.3-70B-Instruct              |
# +-------------+------------------------------------------------+
LLM_PROVIDER=openai
LLM_MODEL=gpt-4o-mini
LLM_API_KEY=
LLM_HOST=
LLM_MODELS_PATH=
LANGSMITH_API_KEY=

#------------------------
#        SERVICES
#------------------------
ETH_RPC=https://eth-pokt.nodies.app
ETHER_SCAN_API_KEY=
ARBITRUM_ONE_RPC=https://endpoints.omniatech.io/v1/arbitrum/one/public
ARBI_SCAN_API_KEY=
BASE_RPC=https://base.llamarpc.com
BASE_SCAN_API_KEY=
POLYGON_RPC=https://polygon-pokt.nodies.app
POLYGON_SCAN_API_KEY=
FANTOM_RPC=https://1rpc.io/ftm
FTM_SCAN_API_KEY=