#------------------------
#        DATABASE
#------------------------
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=pattern-core
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres

JWT_SECRET_KEY=mysecretkey

#------------------------
#       LOGGING
#------------------------
app_name=pattern-core
log_file_path=api_logs
log_backup_count=5
log_max_bytes=5242880 # 5 * 1024 * 1024

#------------------------
#    SENTRY (Optional)
#------------------------
SENTRY_DSN=