{
    "services": [
        {
            "name": "etherscan",
            "url": "https://api.etherscan.io/v2/api",
            "api_key": ""
        },
        {
            "name": "goldrush",
            "url": "https://api.covalenthq.com",
            "api_key": ""
        },
        {
            "name": "exa",
            "url": "https://api.exa.ai",
            "api_key": ""
        },
        {
            "name": "perplexity",
            "url": "https://api.perplexity.ai",
            "api_key": ""
        },
        {
            "name": "tavily",
            "url": "https://api.tavily.com",
            "api_key": ""
        }
    ],
    "llm": {
        "provider": "openai",
        "model": "gpt-4o-mini",
        "api_key": "",
        "extra_params": {
            "host": "",
            "models": ""
        }
    },
    "agents": [
        "etherscan",
        "goldrush"
    ]
}